// Non-configurable variables for internal use:

// Find the width of the margins within the context of the container
$gliss-margin-inv: (100% / (100 - $gliss-margin * 2) * $gliss-margin);


// Upper limit for elements on the grid. This is a fixed width.
@function grid-max(
    $max:$max,
    $gliss-cols:$gliss-cols,
    $gliss-max-width:$gliss-max-width,
    $gliss-gutter:$gliss-gutter
  ) {

  // Total width of the columns minus the gutters
  $gliss-cols-max-width: $gliss-max-width - ($gliss-gutter * ($gliss-cols - 1));
  // Find the max width of a simgle column as a fixed width.
  $col-max-width: ($gliss-cols-max-width / $gliss-cols);

  // All the columns plus gutters.
  @return ($col-max-width * $max) + ($gliss-gutter * ($max - 1));
}

// The lower constraint, how small can this get?
@function grid-min(
    $min:$min,
    $gliss-cols:$gliss-cols,
    $gliss-max-width:$gliss-max-width,
    $gliss-gutter:$gliss-gutter
  ) {

  // Make sure not to divide by zero.
  @if $min < $gliss-cols {
    @return calc(#{(100% / $gliss-cols) * $min} + #{$gliss-gutter * ($min - $gliss-cols) / ($gliss-cols)});
  }
  @return 100%;
}

@mixin gliss(
    $min:false,     // Lower limit (compiles to % constraint)
    $max:false,     // Upper limit (compiles to fixed constraint)
    $gliss-cols:$gliss-cols,
    $gliss-max-width:$gliss-max-width,
    $gliss-gutter:$gliss-gutter
  ) {

  // Write max width first as it is mapped to just width.
  @if $max {
    width: grid-max($max,$gliss-cols,$gliss-max-width,$gliss-gutter);
  } @else {
    // If unspecified, use 100% to ensure the min-width is fulled.
    width: 100%;
  }
  // Write min width second.
  // It may seem counter-intuitive that $min is mapped to
  // max-width but it's because as the screen shrinks
  // the elements will hit higher %s.
  // This is the upper bounds on that % but on a smaller screen.
  @if $min {
    max-width: grid-min($min,$gliss-cols,$gliss-max-width,$gliss-gutter);
  }
}


// Alignment

// Center a thing
@mixin gliss-center {
  margin-left: auto;
  margin-right: auto;
}

// Align right
@mixin gliss-right(
    $offset:0
  ) {

  @if $offset != 0 {
    $offset: calc(#{(100% / $gliss-cols) * $offset} + #{($gliss-gutter * ($offset - $gliss-cols) / ($gliss-cols)) + ($gliss-gutter)});
  }

  float: right;
  margin: 0 $offset 0 $gliss-gutter;
}

// Align left
@mixin gliss-left(
    $offset:0
  ) {

  @if $offset != 0 {
    $offset: calc(#{(100% / $gliss-cols) * $offset} + #{($gliss-gutter * ($offset - $gliss-cols) / ($gliss-cols)) + ($gliss-gutter)});
  }

  float: left;
  margin: 0 $gliss-gutter 0 $offset;
}