@if $gliss-modules {
  #{$gliss-wrapper} {
    padding: 0 $gliss-margin;
    margin: 0 auto;
    max-width: $gliss-max-width;
  }

  // Text level elements
  #{$gliss-text} {
    @include gliss-center();
    @include gliss(12,6);
    body.show-grid & {
      background: rgba(#f00,.1);
    }
  }

  // figure logic
  #{$gliss-figure} {
    margin: 0 ($gliss-margin-inv * -1);
    @media (min-width: ($gliss-max-width / 3)) {
      &._quarter {
        @include gliss-right();
        @include gliss(6,3);
        &._left {
          @include gliss-left();
        }
      }

      &._third {
        @include gliss-right();
        @include gliss(6,4);
        &._left {
          @include gliss-left();
        }
      }

      &._half {
        @include gliss-right();
        @include gliss(6);
        &._left {
          @include gliss-left();
        }
      }
      &._hang {
        margin: 0 ($gliss-margin-inv * -1) 0 0;
        float: right;
        width: calc(
          (100% - #{grid-max(6)}) / 2 + #{$gliss-margin-inv} + #{gliss-max(6)}
        );
        max-width: 100% + $gliss-margin-inv * 2;
        &._left {
          margin: 0 0 0 ($gliss-margin-inv * -1);
          float: left;
        }
      }
    }
  }
}